
#all {
	background-color: #f7f1de;
	font-family: 'Montserrat', sans-serif;
	margin:0;
}

/* .other {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 80vw;
	margin: 0 auto;
	min-height: 100vh;
} */

.heading {
	text-align: center;
	padding: 25px;
}



.btn {
	width: 12em;
	flex: 1 1 auto;
	margin: 10px;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #25593a;
	border-radius: 10px;
	background-color: #67c677;
}

.btn:hover {
	background-position: right center; /* change the direction of the change here */
}
.btn-1 {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.q {
	padding: 20px;
	text-align: center;
}

#logo img {
	  height = 130px;
		margin-top = -60px;
}

.category {
	color: #7f6c54;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
